/* @font-face {
    font-family: ProductSans;
    src: url(Product_Sans_Regular.ttf);
}

* {
    font-family: ProductSans
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.new {
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid green;
}